/* global.css */
@font-face {
  font-family: 'Geist Mono';
  src: url(./fonts/GeistMonoVF.woff2);
}

@font-face {
  font-family: 'Reddit mono';
  src: url(./fonts/RedditMono.ttf);
}

@font-face {
  font-family: 'Inter';
  src: url(./fonts/Inter.ttf);
}
* {
  transition: background, opacity, color, background-color 0.3s ease;
}
body {
  font-family: 'Inter', 'DM Sans', sans-serif;
  font-weight: 400;
  transition: all 0.3s ease;
}

kbd, .monospace, .main-display, .btn {
  font-family: 'Geist Mono', monospace;
}