/* global.css */
@font-face {
  font-family: 'Geist';
  src: url(./fonts/GeistVF.woff2);
}

@font-face {
  font-family: 'Geist Mono';
  src: url(./fonts/GeistMonoVF.woff2);
}

* {
  @apply transition-colors
}
body {
  font-family: 'Geist', 'DM Sans', 'Reddit mono', sans-serif;
  font-weight: 400;
  @apply transition-colors
}

kbd, .main-display, .btn {
  font-family: 'Geist Mono', monospace;
}