/* global.css */
@font-face {
  font-family: "Geist Mono";
  src: url(../fonts/GeistMonoVF.woff2);
  font-display: swap;
}

@font-face {
  font-family: "Geist";
  src: url(../fonts/GeistVF.woff2);
  font-display: swap;
}

@font-face {
  font-family: "Reddit mono";
  src: url(../fonts/RedditMono.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Apple Sans";
  src: url(../fonts/SFUIText-Regular.otf);
  font-display: swap;
}

* {
  transition: background, opacity, color, background-color 0.3s ease;
}

body {
  font-family: "Geist", "Inter", "DM Sans", sans-serif;
  font-weight: 400; 
  letter-spacing: 1.01;
  transition: all 0.3s ease;
}

kbd,
.monospace,
.main-display {
  font-family: "Geist Mono", monospace;
}

.toast {
  @apply bg-white dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg shadow-lg p-4 max-w-sm w-full;
}

.toast + .toast {
  @apply mt-2;
}

.borders-transparent {
  --border-opacity: 0;
}

.borders-transparent * {
  border-color: rgba(255, 255, 255, var(--border-opacity)) !important;
}
