/*
  @tailwind base;

  The base layer is where Tailwind injects its base styles. These are the default styles
  that are applied to all elements, like resetting margins, setting default font families, etc.

  It's generally recommended to leave this layer alone and only add your own global styles
  if absolutely necessary. For example, you might add custom CSS variables or global resets
  that Tailwind doesn't handle.

  In this file, you're using @layer base to:
  - Define custom CSS variables for colors (border-input, ring, ring-offset)
  - Apply dark mode overrides for these variables.
  - Customize the VueTippy tooltip styles with Tailwind utilities.
*/
@tailwind base;

/*
  @tailwind components;

  The components layer is where you define reusable UI patterns that you often use in your project.
  These are typically more complex than single utility classes and often combine multiple utilities.

  For example, you might define a button component that includes styles for padding, background color,
  text color, rounded corners, and hover effects.

  In this file, you're using @layer components to:
  - Define various button styles (primary, destructive, outline, secondary, ghost, link).
  - Define button sizes (default, small, large, icon).
  - Use @apply to combine multiple Tailwind utility classes into these component definitions.
*/
@tailwind components;

/*
  @tailwind utilities;

  The utilities layer is where Tailwind generates all of its utility classes. These are the single-purpose
  classes that you use to style your HTML elements directly.

  You can also use this layer to add your own custom utility classes that you use frequently in your project.
  This allows you to create your own design system on top of Tailwind's existing utility classes.

  In this file, you're using @layer utilities to:
  - Define custom background color utilities (bg-muted, bg-accent, bg-muted-30).
  - Define a custom ring offset utility (ring-offset-background).
  - Use @apply to combine Tailwind utility classes into these custom utility definitions.
*/
@tailwind utilities;

/* CSS Stylesheet Imports */
@import url(./buttons.css);

@layer base {
  /* Global definitions */
  @font-face {
    font-family: "Geist Mono";
    src: url(../fonts/GeistMonoVF.woff2);
    font-display: swap;
  }

  @font-face {
    font-family: "Geist";
    src: url(../fonts/GeistVF.woff2);
    font-display: swap;
  }

  @font-face {
    font-family: "Reddit Mono";
    src: url(../fonts/RedditMono.ttf);
    font-display: swap;
  }

  @font-face {
    font-family: "Inter";
    src: url(../fonts/Inter.ttf);
    font-display: swap;
  }

  @font-face {
    font-family: "Apple Sans";
    src: url(../fonts/SFUIText-Regular.otf);
    font-display: swap;
  }

  body {
    @apply font-sans font-normal;
  }
  /* Scrollbar styles */
  body,
  html {
    scrollbar-width: thin;
    scroll-behavior: smooth;
    scrollbar-color: rgba(156, 163, 175, 0.5) transparent;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ::-webkit-scrollbar {
    @apply hover:bg-gray-100/50;
  }

  ::-webkit-scrollbar-track {
    @apply rounded-lg bg-gray-100/50 dark:bg-gray-800/50;
  }

  ::-webkit-scrollbar-thumb {
    @apply rounded-lg bg-transparent;
  }

  kbd,
  .monospace,
  .main-display {
    @apply font-mono;
  }

  kbd {
    @apply w-fit bg-gray-200/90 text-gray-600 dark:bg-gray-700/90 dark:text-gray-400 px-2 py-0.5 rounded-md text-nowrap;
  }

  .toast {
    @apply bg-white dark:bg-gray-800 border border-gray-200 
  dark:border-gray-700 rounded-lg shadow-lg p-4 max-w-sm w-full;
  }

  .toast + .toast {
    @apply mt-2;
  }

  /* Settings toggle classes */
  .animation-disabled * {
    @apply !animate-none !duration-0;
  }

  textarea {
    @apply outline-none text-gray-800 dark:text-gray-100 transition-[border-color] duration-200 ease-linear focus:ring-1 focus:ring-indigo-500/20 focus:border-indigo-500/50;
  }

  /* VueTippy custom tooltip styles */
  .tippy-box[data-theme~="custom"] {
    @apply dark:bg-gray-100 bg-gray-800 dark:text-gray-700 text-gray-300 p-1 rounded-lg;
  
    &[data-placement^="top"] > .tippy-arrow::before {
      @apply border-t-gray-800 dark:border-t-gray-100;
    }
  
    &[data-placement^="bottom"] > .tippy-arrow::before {
      @apply border-b-gray-800 dark:border-b-gray-100;
    }
  
    &[data-placement^="left"] > .tippy-arrow::before {
      @apply border-l-gray-800 dark:border-l-gray-100;
    }
  
    &[data-placement^="right"] > .tippy-arrow::before {
      @apply border-r-gray-800 dark:border-r-gray-100;
    }
  }
}

@layer components {
  .btn {
    @apply inline-flex items-center justify-center gap-1 md:gap-2 rounded-md text-sm font-medium duration-200 transition-colors focus-visible:outline-none 
    focus-visible:ring-2 disabled:opacity-50 disabled:pointer-events-none ring-offset-background;
  }

  .btn-primary {
    @apply bg-primary dark:bg-primary-dark text-primary-foreground hover:bg-primary-dark dark:hover:bg-primary-light;
  }

  .btn-destructive {
    @apply bg-destructive text-destructive-foreground hover:bg-destructive/90 dark:bg-gray-300 dark:text-gray-700 dark:hover:bg-gray-200;
  }

  .btn-outline {
    @apply border border-gray-200 dark:border-gray-700 hover:bg-gray-100 dark:hover:bg-gray-700/30 hover:text-gray-900 dark:text-gray-300 dark:hover:text-white;
  }

  .btn-secondary {
    @apply bg-secondary text-secondary-foreground hover:bg-secondary/80;
  }

  .btn-ghost {
    @apply hover:bg-gray-100/70 dark:hover:bg-gray-700/70 hover:text-gray-900 dark:hover:text-gray-100 text-gray-600 dark:text-gray-300;
  }

  .btn-link {
    @apply text-primary dark:text-primary-dark underline-offset-4 hover:underline;
  }

  .btn-default-size {
    @apply h-9 py-1 px-3 rounded-md;
  }

  .btn-sm {
    @apply h-9 px-3 rounded-md;
  }

  .btn-lg {
    @apply h-11 px-8 rounded-md;
  }

  .btn-icon {
    @apply size-8 rounded-md;
  }

  /* Keeping Necessary Loader Animations */
  .loader-macro, .loader-micro, .loader-mini {
    @apply flex justify-center items-center 
  }
  
  .loader-macro {
    @apply fixed inset-0 z-50 bg-gray-50/95 dark:bg-gray-900/95 backdrop-blur-md;
  }
  
  .loader-mini {
    @apply min-w-10 min-h-10;
  }
  
  .loader-micro {
    @apply min-w-6 min-h-6;
  }
}

.loader-fade {
  animation: loader-fade 1s ease-in-out infinite alternate;
}

@keyframes loader-fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 0.8;
  }
}
